#main-skills-list {
  li {
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4em 0.7em;
  }

  img {
    max-width: 2em;
    max-height: 1.5em;
    margin-right: 0.5em;
  }

  &::after {
    content: '';
    flex: 9999 1 auto;
  }
}
