html {
  scroll-behavior: smooth;
  background: linear-gradient(
    -45deg,
    var(--bg-tertiary),
    var(--bg-secondary),
    var(--bg-tertiary),
    var(--bg-secondary)
  );
}

body {
  position: relative;
  color: var(--text-primary);
  text-align: center;
}

a {
  color: var(--action-primary);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: var(--action-secondary);
  }
}

main {
  height: 100vh;
  background: center
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(32,30,30)' viewBox='0 0 100 169.5'%3E%3Cpolygon points='50,34.75 93.5,59.75 93.5,109.75 50,134.75 6.5,109.75 6.5,59.75'%3E%3C/polygon%3E%3Cpolygon points='0,-50 43.5,-25 43.5,25 0,50 -43.5,25 -43.5,-25'%3E%3C/polygon%3E%3Cpolygon points='100,-50 143.5,-25 143.5,25 100,50 56.5,25 56.5,-25'%3E%3C/polygon%3E%3Cpolygon points='0,119.5 43.5,144.5 43.5,194.5 0,219.5 -43.5,194.5 -43.5,144.5'%3E%3C/polygon%3E%3Cpolygon points='100,119.5 143.5,144.5 143.5,194.5 100,219.5 56.5,194.5 56.5,144.5'%3E%3C/polygon%3E%3C/svg%3E");
  background-size: 33px;
  display: flex;
  justify-content: center;
  align-items: center;

  & > div {
    background-color: var(--bg-primary-dark);
    border: 3px solid var(--action-primary);
    padding: calc(1rem + 6vmin);

    & > *:not(:last-child) {
      margin-bottom: calc(1rem + 2vmin);
    }
  }
}

h1 {
  font-size: 2rem;
}

#social-links {
  display: flex;
  padding: 0;
  gap: 2rem;
  justify-content: center;
  list-style: none;

  .social-icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--text-primary);
    transition: fill 0.2s;

    &:hover {
      fill: var(--action-primary);
    }
  }
}
