html {
  scroll-behavior: smooth;
  background: linear-gradient(-45deg, var(--bg-tertiary), var(--bg-secondary), var(--bg-tertiary), var(--bg-secondary));
}

body {
  display: flex;
  position: relative;
  color: var(--text-primary);
}

.page-content {
  background-color: var(--bg-primary);
  border-right: 1px solid var(--bg-tertiary);
  max-width: 1100px;
  padding: 6em;

  section,
  footer {
    margin-top: 4em;
  }

  a {
    color: var(--action-primary);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: var(--action-secondary);
    }
  }
}

#nav-container,
div.page-spacer-right {
  flex: 1;
  position: relative;
}

#nav,
div.page-spacer-right div {
  position: sticky;
  top: 0;
  height: 100vh;
  background: center url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(32,30,30)' viewBox='0 0 100 169.5'%3E%3Cpolygon points='50,34.75 93.5,59.75 93.5,109.75 50,134.75 6.5,109.75 6.5,59.75'%3E%3C/polygon%3E%3Cpolygon points='0,-50 43.5,-25 43.5,25 0,50 -43.5,25 -43.5,-25'%3E%3C/polygon%3E%3Cpolygon points='100,-50 143.5,-25 143.5,25 100,50 56.5,25 56.5,-25'%3E%3C/polygon%3E%3Cpolygon points='0,119.5 43.5,144.5 43.5,194.5 0,219.5 -43.5,194.5 -43.5,144.5'%3E%3C/polygon%3E%3Cpolygon points='100,119.5 143.5,144.5 143.5,194.5 100,219.5 56.5,194.5 56.5,144.5'%3E%3C/polygon%3E%3C/svg%3E");
  background-size: 33px;
}

h2 {
  color: var(--highlight-secondary);
}

input,
textarea,
button {
  padding: 0.4em 0.7em;
  font-size: 90%;
  border: 1px solid transparent;
}

button {
  cursor: pointer;
  background-color: var(--action-primary);

  &:hover {
    background-color: var(--action-secondary);
  }
}

.flow-loose {
  --flow-space: 4em;
}

.flow {
  --flow-space: 1.5em;
}

.flow-tight {
  --flow-space: 1em;
}

.flow > * + * {
  margin-top: var(--flow-space);
}

.skills {
  display: flex;
  flex-wrap: wrap;

  li {
    background-color: var(--highlight-primary);
    font-size: 90%;
    vertical-align: middle;
    padding: 0.25em 0.6em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }

  0% {
    opacity: 1;
  }
}
