@media (max-width: 1150px) {
  .page-content {
    padding: 3em;
  }
}

@media (max-width: 1000px) {
  #portfolio #portfolio-list {
    grid-template-columns: 1fr;
    gap: 2em;
    margin-top: 3em;
  }

  #contact .contact-form {
    padding: 0;
  }
}

@media (max-width: 900px) {
  #header {
    column-gap: 1em;

    .headshot {
      height: 10em;
      width: Calc(10em * 1.1547);
    }
  }
}

@media (max-width: 820px) {
  body {
    flex-direction: column;
    position: relative;
  }

  .page-content {
    border-right: none;
    max-width: none;
    width: 100%;
    padding: 2em;
  }

  div.page-spacer-right {
    display: none;
  }

  #nav-container {
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid var(--bg-tertiary);
    border-right: none;
    overflow: hidden;
    background: var(--bg-secondary);

    #nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 45px;
      padding: 0.1em;

      > * {
        margin: 0;
      }

      ul a {
        font-size: 1.1rem;
      }
    }

    #square-logo {
      width: 2.3em;
      height: 2.3em;
      position: relative;
      bottom: 0.1em;
    }

    #section-links {
      display: flex;
      margin: 0;

      li:not(:first-of-type) {
        margin-left: 1em;
      }

      a {
        transition: color 0.2s;
        background: none !important;
        border: 1px solid transparent !important;

        &:hover {
          color: var(--action-primary) !important;
        }

        &.active-page {
          color: var(--highlight-primary);
          border: 1px solid transparent !important;
        }
      }
    }

    #social-links a {
      padding: 0;
      margin-right: 0.5em;

      .social-icon {
        position: relative;
        top: 0.2em;
        height: 1.1em;
        width: 1.1em;
      }
    }
  }

  #contact {
    .contact-form {
      grid-template-areas:
        'name'
        'email'
        'msg'
        'btn';

      button {
        margin: 0;
      }
    }
  }

  #footer {
    margin: 2em 0;
  }
}

@media (max-width: 620px) {
  .page-content {
    padding: 3em 1em;

    section {
      margin-top: 2em;
    }
  }

  #nav-container {
    display: none;
  }

  #header {
    grid-template-areas:
      'headshot logo'
      'tagline tagline';
    column-gap: 2em;

    .headshot {
      height: 8em;
      width: Calc(8em * 1.1547);
      margin: auto 0 auto auto;
    }

    .logo {
      font-size: 270%;
      margin: auto auto auto 0;
    }

    .tagline {
      margin: 1em auto;
    }
  }
}

@media (max-width: 420px) {
  body {
    font-size: 1rem;
  }

  .page-content {
    padding: 2em 0.6em;
  }

  #header {
    grid-template-areas:
      'headshot logo'
      'tagline tagline';
    column-gap: 1em;

    .headshot {
      height: 6em;
      width: Calc(6em * 1.1547);
      margin: auto 0 auto auto;
    }

    .logo {
      font-size: 270%;
      margin: auto auto auto 0;
    }

    .tagline {
      margin: 1em auto;
    }
  }
}
