:root {
  --dark-grey: rgb(42, 43, 42);
  --light-grey: #706c61;
  --off-white: #f8f4e3;

  --dark-coral: #4f5d75;
  --silver: #bfc0c0;

  --red: hsl(9, 59%, 56%);
  --blue: #7ebdc2;

  --dark-grey-highlight: rgb(63, 61, 60);
  --light-coral: #7f95bb;
  --red-highlight: #da7462;
}
