#contact {
  .contact-form {
    display: grid;
    grid-template-areas:
      'name email'
      'msg msg'
      'btn btn';
    gap: 1em;
    padding: 1em 3em;

    input,
    textarea {
      background-color: var(--input-background);
    }

    input {
      &[name='name'] {
        grid-area: name;
      }
      &[name='email'] {
        grid-area: email;
      }
    }

    textarea {
      grid-area: msg;
      resize: vertical;
      min-height: 8em;
      max-height: 60em;
    }

    button {
      grid-area: btn;
      margin: 0 auto;
      padding: 0.5em 4em;
      font-weight: bold;
      // text-transform: uppercase;
      letter-spacing: 0.03em;
      color: var(--bg-secondary);
    }
  }
}
