#portfolio {
  #portfolio-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    margin-top: 3em;
  }

  .portfolio-item {
    font-size: 0.9em;
    flex: 1 0 20em;
    max-width: 30em;
    margin: 0 auto;
    background-color: var(--dark-grey);
    // clip-path: polygon(0 0, 100% 0, 100% 100%, 2rem 100%, 0% -45px);
    box-shadow: 0px 4px 8px -1px rgba(0, 0, 0, 0.54);
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .portfolio-item-header {
      position: relative;
      height: 18em;

      img {
        object-fit: cover;
        height: 100%;
        min-width: 100%;
      }

      h3 {
        position: absolute;
        bottom: -1px;
        color: var(--off-white);
        background-color: var(--dark-grey);
        font-size: 1.3rem;
        padding: 0.3em 0.8em 0;
        // height: 45px;

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          right: -1.88rem;
          height: 100%;
          width: 1.9rem;
          background-color: inherit;
          clip-path: polygon(0 0, 100% 100%, 0 100%);
        }
      }
    }

    .portfolio-item-info {
      flex: 1;
      padding: 0.5rem 1rem 1rem;

      .skills {
        margin: 0;

        li {
          margin-bottom: 0;
          margin-top: 0.5em;
        }
      }
    }
  }

  .portfolio-item-buttons {
    display: flex;
    flex-direction: row-reverse;
    padding: 1em;

    a {
      font-weight: bold;
      font-size: 90%;
      padding: 0.4em 0.5em;
      margin: 0;
      text-transform: uppercase;

      &:first-of-type {
        margin-left: 1em;
      }

      &:hover {
        text-decoration: none;
      }

      &.primary {
        background-color: var(--red);
        color: var(--dark-grey);

        &:hover {
          background-color: var(--red-highlight);
        }
      }
    }
  }
}
