#portfolio {
  #portfolio-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    margin-top: 3em;
    padding-top: 3em;
  }

  .portfolio-item {
    font-size: 0.9em;
    margin: 0 auto;
    // box-shadow: 0px 4px 8px -1px rgba(0, 0, 0, 0.54);
    // filter: drop-shadow(1px 2px 8px rgba(0, 0, 0, 0.3));
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .portfolio-item-small {
    max-width: 30em;
  }
  .portfolio-item-large {
    grid-column: span 2;
  }

  .portfolio-item-header {
    position: absolute;
    top: 0;
    transform: translateY(-55%);
    display: flex;
    align-items: center;

    h3 {
      font-size: 1.3rem;
      background-color: var(--bg-secondary);
      color: var(--text-primary);
      position: relative;
      padding: 1rem 1rem 1rem 2rem;
      margin-right: 4.5rem;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: -64px;
        height: 65px;
        width: 65px;
        background-color: inherit;
        clip-path: polygon(0 0, 100% 100%, 0 100%);
      }
    }

    .skills {
      margin: 0;

      li {
        margin-bottom: 0;
      }
    }
  }

  .portfolio-item-info {
    flex: 1;
    padding: 2rem 2rem 1rem;
    background-color: var(--bg-secondary);
  }

  .portfolio-item-img-picker {
    display: grid;
    gap: 0.75rem;
    grid-template-columns: 1fr 12rem;
    grid-template-rows: repeat (3, 1fr);
  }

  .portfolio-item-img-picker img:first-of-type {
    grid-row: span 3;
  }

  .portfolio-item-img-picker img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .portfolio-item-img-picker img:not(:first-of-type) {
    opacity: 0.4;
  }

  .portfolio-item-buttons {
    display: flex;
    flex-direction: row-reverse;
    padding: 1em;
    background-color: var(--bg-secondary);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 60px 100%, 0 calc(100% - 60px));

    a {
      font-weight: bold;
      font-size: 90%;
      padding: 0.5em 1em;
      margin: 0;
      text-transform: uppercase;
      letter-spacing: 0.03em;

      &:first-of-type {
        margin-left: 1em;
      }

      &:hover {
        text-decoration: none;
      }

      &.primary {
        background-color: var(--action-primary);
        color: var(--bg-secondary);

        &:hover {
          background-color: var(--action-secondary);
        }
      }
    }
  }
}
